<header class="header bg-dark">
    <div class="container-sm-full d-flex justify-content-between header-wrapper">
        <div class="logo">
            <img src="../assets/images/logo-white (1).png" alt="logo">
        </div>
        <ul class="nav d-flex">
            <li class="nav-item"><a href="#">系列鏡框</a></li>
            <li class="nav-item"><a href="../pages/store.html">門市據點</a></li>
            <li class="nav-item"><a href="#">部落格</a></li>
            <li class="nav-item"><a class="pr-0" href="#">常見問題</a></li>
        </ul>
    </div>

    </div>
</header>